$backgroundColor: #f9e7d1;
$titleTextColor: #fe7c24;
$mainTextColor: #ff9750;

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .no-result-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: $mainTextColor;
    height: 20%;
  }
  .no-result-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .no-result-body-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $mainTextColor;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    padding: 20px;
    font-size: xxx-large;
  }
  .no-result-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15%;
    height: 30%;
  }
  .no-result-footer-image-container {
    width: 100%;
  }
  .no-result-footer-shareLink {
    width: 20%;
    cursor: pointer;
  }
  .no-result-footer-kakao {
    width: 20%;
    cursor: pointer;
  }
}
