.no-result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  color: #ff9750;
  height: 20%;
}
.no-result-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.no-result-body-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ff9750;
  border-radius: 30px;
  width: 80%;
  height: 100%;
  padding: 20px;
  font-size: xxx-large;
}
.no-result-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15%;
  height: 30%;
}
.no-result-footer-image-container {
  width: 100%;
}
.no-result-footer-shareLink {
  width: 20%;
  cursor: pointer;
}
.no-result-footer-kakao {
  width: 20%;
  cursor: pointer;
}
