$backgroundColor: #f9e7d1;
$titleTextColor: #fe7c24;
$mainTextColor: #ff9750;
$lockColor: #fe7c24;
$gameListItemBorderColor: #ff9750;
$selectboxColor: #fe7c24;

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .webapp-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .question-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
  }
  .question-header-title {
    display: flex;
    justify-content: space-between;
  }
  .question-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    color: $mainTextColor;
    font-size: xxx-large;
  }
  .question-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
  }
  .question-selectbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 18%;
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-size: x-large;
    background-color: $selectboxColor;
    cursor: pointer;
  }
}
