.question-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}
.question-header-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10%;
  color: #ff9750;
  box-sizing: border-box;
}
.question-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: #ff9750;
  font-size: xx-large;
  padding: 15%;
  box-sizing: border-box;
  text-align: center;
}
.question-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  box-sizing: border-box;
  font-size: 4.7vw;
  white-space: pre-wrap;
}
.question-selectbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 15%;
  padding: 7px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #da7e4a;
  cursor: pointer;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.question-tempBody {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9750;
  font-size: 8.3vw;
  padding: 15%;
  text-align: center;
  white-space: pre-wrap;
}

.question-tempFooter {
  height: 20%;
  display: flex;
  justify-content: center;
}

.question-explain-header {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  color: #fe7c24;
  font-size: 10vw;
  padding: 0 5%;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

.question-explain-body {
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-explain-body-main {
  /* width: 70%; */
  color: #ff9750;
  font-size: 2.5vh;
  white-space: pre;
  font-weight: bold;
}

.question-explain-body-explain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 85%;
  height: 70%;
  font-size: 5.2vw;
  text-align: center;
  border-left: 4px solid #da7e4a;
  border-right: 4px solid #da7e4a;
  border-radius: 20px;
  padding: 6vw;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.question-explain-footer {
  height: 25%;
  display: flex;
  justify-content: center;
}
