.start-header {
  height: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10%;
  box-sizing: border-box;
}
.start-title {
  text-align: center;
  font-size: x-large;
  color: #ff9750;
}
.start-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}
.start-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 35%;
  font-size: x-large;
}

.start-inputbox {
  width: 100%;
  height: 60%;
  font-size: x-large;
  border: 3px solid black;
  background-color: transparent;
  align-self: center;
}
.start-body-text {
  width: 70%;
  text-align: center;
  font-size: 4.6vw;
  white-space: pre-wrap;
}
