$backgroundColor: #f9e7d1;
$titleTextColor: #fe7c24;
$mainTextColor: #ff9750;

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .main-header {
    height: 20%;
  }
  .start-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
  }
  .start-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
  }
  .start-container {
    width: 70%;
    height: 30%;
    font-size: xx-large;
  }

  .start-inputbox {
    width: 100%;
    height: 70%;
    font-size: xxx-large;
  }
  .start-body-text {
    width: 70%;
    text-align: center;
    font-size: xx-large;
  }
}
