$backgroundColor: #f9e7d1;
$titleTextColor: #fe7c24;
$mainTextColor: #ff9750;

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .webapp-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .webapp-box {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding: 20px;
    width: 50vw;
    height: 94vh;
    background-color: $backgroundColor;
  }
  .main-header {
    height: 15%;
  }
  .main-title {
    color: $titleTextColor;
    text-align: center;
    font-size: xxx-large;
  }
  .main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
  }
  .main-body-text {
    width: 60%;
    color: $mainTextColor;
  }
  .main-body-logo {
    margin: auto;
  }
  .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  .main-start-btn {
    width: 60%;
    height: 10vh;
    background-color: $titleTextColor;
    border-radius: 10px;
    color: #ffffff;
    font-size: x-large;
    border: none;
    cursor: pointer;
  }
}
