.webapp-box {
  display: flex;
  flex-direction: column;
  /* margin: auto auto; */
  width: 100vw;
  height: 100vh;
  background-color: #f9e7d1;
}
.main-header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.main-title {
  color: #fe7c24;
  text-align: center;
  font-size: xxx-large;
}
.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding-top: 10%;
  box-sizing: border-box;
}
.main-body-text {
  text-align: center;
  width: 60%;
  color: #ff9750;
  white-space: pre-wrap;
  font-size: large;
}
.main-body-logo {
  width: 50%;
  margin: auto;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
}
.main-start-btn {
  width: 60%;
  height: 8vh;
  /* margin-bottom: 5vh; */
  background-color: #da7e4a;
  border-radius: 10px;
  color: #ffffff;
  font-size: x-large;
  border: none;
  cursor: pointer;
}
