.gameList-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameList-title {
  color: #fe7c24;
  text-align: center;
  font-size: xxx-large;
}
.gameList-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.gameList-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.gameList-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  height: 14%;
  border: 1px solid #ff9750;
  padding: 0 6%;
  font-size: 2.8vh;
  box-sizing: border-box;
  cursor: pointer;
  white-space: pre-wrap;
}
.gameList-isSelected {
  border: 3px solid #fe7c24;
}
.gameList-item-icon {
  position: absolute;
  height: 100%;
  left: -5vh;
}
